In [1]:
import pandas as pd
import json

# Load JSON file
with open('manav_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,we_met,match,voice_notes,chats,like,block
0,"[{'timestamp': '2024-06-15 04:08:10.109', 'did...",[{'timestamp': '2024-06-05 13:38:56'}],[{'url': 'http://media.hingenexus.com/video/au...,[{'body': 'Oh you are from dhanbad I had seen'...,"[{'timestamp': '2024-06-04 17:13:24', 'like': ...",NaN
1,"[{'timestamp': '2024-06-16 04:56:54.602', 'did...",[{'timestamp': '2024-06-05 07:54:28'}],NaN,"[{'body': 'We can hangout tomorrow though', 't...","[{'timestamp': '2024-06-03 13:50:44', 'like': ...",NaN
2,"[{'timestamp': '2024-06-30 11:45:51', 'did_mee...",[{'timestamp': '2024-06-18 15:58:43'}],NaN,"[{'body': 'I stay in Borivali', 'timestamp': '...","[{'timestamp': '2024-06-11 03:25:00', 'like': ...",NaN
3,"[{'timestamp': '2024-08-03 19:41:30', 'did_mee...",[{'timestamp': '2024-07-25 19:03:02'}],NaN,"[{'body': 'Western line is the Og', 'timestamp...","[{'timestamp': '2024-07-25 16:55:38', 'like': ...",NaN
4,"[{'timestamp': '2024-08-03 20:26:24', 'did_mee...",[{'timestamp': '2024-07-25 22:46:42'}],NaN,"[{'body': 'Lmao', 'timestamp': '2024-07-26 14:...","[{'timestamp': '2024-07-24 01:37:51', 'like': ...",NaN
...,...,...,...,...,...,...
2405,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:05', 'like': ...",NaN
2406,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:37', 'like': ...",NaN
2407,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:59', 'like': ...",NaN
2408,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-26 05:35:16', 'like': ...",NaN
2409,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-26 06:07:06', 'like': ...",NaN

In [2]:
df['match_time'] = df['match'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['match_time'].notna()]

#Extracting date from full timestamp including hour
df['match_date'] = df['match_time'].dt.date

#Extracting month from date
df['match_month'] = df['match_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('match_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("manav-monthly-matches.csv")

   match_month  count
0      2023-12      9
1      2024-01      6
2      2024-05      3
3      2024-06     39
4      2024-07     34
5      2024-08     33
6      2024-09     19
7      2024-10     23
8      2024-11     19
9      2024-12     15
10     2025-01      6
11     2025-02     82

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/2408050722.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_date'] = df['match_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/2408050722.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_month'] = df['match_time'].dt.to_period('M')

In [10]:
import pandas as pd
import json

# Load JSON file
with open('tathagat_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,match,chats,like,block,voice_notes,we_met
0,[{'timestamp': '2022-12-09 08:48:16.879'}],"[{'body': 'Where do you live?', 'timestamp': '...","[{'timestamp': '2022-12-09 08:39:59', 'like': ...","[{'block_type': 'remove', 'timestamp': '2023-0...",NaN,NaN
1,[{'timestamp': '2022-12-11 17:17:40.991'}],"[{'body': 'Also, was just going through your p...","[{'timestamp': '2022-12-10 01:29:37', 'like': ...",NaN,NaN,NaN
2,[{'timestamp': '2022-12-12 06:15:01.233'}],"[{'body': 'Excuse my curiosity ðŸ˜…', 'timestamp'...","[{'timestamp': '2022-12-12 01:56:46', 'like': ...",NaN,NaN,NaN
3,[{'timestamp': '2022-12-18 21:36:36.925'}],[{'body': 'Why are you definitely getting into...,"[{'timestamp': '2022-12-17 06:31:04', 'like': ...",NaN,NaN,NaN
4,[{'timestamp': '2023-01-02 08:08:13.391'}],"[{'body': 'He founded your culinary club', 'ti...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1682,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN
1683,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN
1684,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-0...",NaN,NaN
1685,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN
1686,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN

In [11]:
df['match_time'] = df['match'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['match_time'].notna()]

#Extracting date from full timestamp including hour
df['match_date'] = df['match_time'].dt.date

#Extracting month from date
df['match_month'] = df['match_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('match_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("tathagat-monthly-matches.csv")

   match_month  count
0      2022-12      4
1      2023-01      7
2      2023-02      7
3      2023-03      2
4      2023-04      1
5      2023-05      1
6      2023-07      2
7      2023-09      6
8      2023-10      4
9      2023-11      5
10     2023-12      3
11     2024-01      1
12     2024-02      2
13     2024-04      2
14     2024-05      2
15     2024-06      1
16     2024-07      3

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/2989433063.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_date'] = df['match_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/2989433063.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_month'] = df['match_time'].dt.to_period('M')

In [5]:
import pandas as pd
import json

# Load JSON file
with open('deep_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,chats,match,like,we_met,block
0,[{'body': 'I just want to know you are aware I...,[{'timestamp': '2023-12-21 10:59:18'}],NaN,NaN,NaN
1,"[{'body': 'Yay, so when are we going out?', 't...",[{'timestamp': '2023-12-27 04:18:50'}],"[{'timestamp': '2023-12-26 23:31:05', 'like': ...",NaN,NaN
2,[{'body': 'Anyway you did say I'd have to wait...,[{'timestamp': '2023-12-22 17:28:49'}],"[{'timestamp': '2023-12-22 15:01:39', 'like': ...",NaN,NaN
3,[{'body': 'Hi there! Would you like me to asto...,[{'timestamp': '2024-02-09 11:38:09'}],NaN,"[{'timestamp': '2024-03-05 01:19:54.114', 'did...",NaN
4,[{'body': 'I'm nothing if not a cinematic roma...,[{'timestamp': '2024-08-06 11:50:12'}],NaN,NaN,NaN
...,...,...,...,...,...
318,NaN,NaN,"[{'timestamp': '2025-02-23 16:21:17', 'like': ...",NaN,NaN
319,NaN,NaN,"[{'timestamp': '2025-02-23 16:21:53', 'like': ...",NaN,NaN
320,NaN,NaN,"[{'timestamp': '2025-02-23 16:22:11', 'like': ...",NaN,NaN
321,NaN,NaN,"[{'timestamp': '2025-02-24 16:19:08', 'like': ...",NaN,NaN
322,NaN,NaN,"[{'timestamp': '2025-02-24 16:20:43', 'like': ...",NaN,NaN

In [6]:
df['match_time'] = df['match'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['match_time'].notna()]

#Extracting date from full timestamp including hour
df['match_date'] = df['match_time'].dt.date

#Extracting month from date
df['match_month'] = df['match_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('match_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("deep-monthly-matches.csv")

  match_month  count
0     2023-12      7
1     2024-01      2
2     2024-02      3
3     2024-03      1
4     2024-08      7
5     2024-09      2
6     2024-10      8
7     2024-12      4
8     2025-01      1
9     2025-02      1

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/1898626470.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_date'] = df['match_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/1898626470.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_month'] = df['match_time'].dt.to_period('M')

In [7]:
import pandas as pd
import json

# Load JSON file
with open('raj_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,match,like,chats,block,voice_notes
0,[{'timestamp': '2024-10-31 02:30:37'}],"[{'timestamp': '2024-10-27 12:49:01', 'like': ...",[{'body': 'Ohh what heâ€™s doing in Navi Mumbai ...,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
1,[{'timestamp': '2024-11-06 15:40:30'}],"[{'timestamp': '2024-11-06 15:26:01', 'like': ...","[{'body': 'Near there ', 'timestamp': '2024-11...",NaN,NaN
2,[{'timestamp': '2024-11-18 11:56:29'}],"[{'timestamp': '2024-11-18 07:55:03', 'like': ...","[{'body': 'It will clear all your doubts ', 't...",NaN,NaN
3,[{'timestamp': '2024-12-04 07:41:05'}],"[{'timestamp': '2024-12-03 14:33:53', 'like': ...","[{'body': 'Letâ€™s talk about something else ', ...",NaN,NaN
4,[{'timestamp': '2024-12-12 16:05:51'}],"[{'timestamp': '2024-12-12 16:04:41', 'like': ...","[{'body': 'Hey ', 'timestamp': '2024-12-13 08:...","[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
...,...,...,...,...,...
558,NaN,"[{'timestamp': '2025-02-28 18:47:02', 'like': ...",NaN,NaN,NaN
559,NaN,"[{'timestamp': '2025-03-01 16:26:37', 'like': ...",NaN,NaN,NaN
560,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
561,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
562,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN

In [9]:
df['match_time'] = df['match'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['match_time'].notna()]

#Extracting date from full timestamp including hour
df['match_date'] = df['match_time'].dt.date

#Extracting month from date
df['match_month'] = df['match_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('match_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("raj-monthly-matches.csv")

  match_month  count
0     2024-10      1
1     2024-11      2
2     2024-12     12
3     2025-01     15
4     2025-02     22

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_65733/322446092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_time'] = df['match'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)