In [8]:
import pandas as pd
import json

# Load JSON file
with open('matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,like,chats,block,match,voice_notes,we_met
0,"[{'timestamp': '2025-01-18 18:24:57', 'like': ...",NaN,NaN,NaN,NaN,NaN
1,"[{'timestamp': '2025-01-01 17:40:36', 'like': ...",NaN,NaN,NaN,NaN,NaN
2,"[{'timestamp': '2025-01-18 18:25:32', 'like': ...",NaN,NaN,NaN,NaN,NaN
3,"[{'timestamp': '2024-12-16 03:27:24', 'like': ...",NaN,NaN,NaN,NaN,NaN
4,"[{'timestamp': '2025-01-18 18:26:17', 'like': ...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2835,NaN,NaN,NaN,[{'timestamp': '2024-09-03 06:59:16'}],NaN,NaN
2836,NaN,NaN,NaN,[{'timestamp': '2024-09-29 06:02:29'}],NaN,NaN
2837,NaN,NaN,NaN,[{'timestamp': '2024-12-09 05:03:08'}],NaN,NaN
2838,NaN,NaN,NaN,[{'timestamp': '2024-12-31 13:21:26'}],NaN,NaN
2839,NaN,NaN,NaN,[{'timestamp': '2025-01-06 10:22:54'}],NaN,NaN

In [17]:
#calculating likes sent
df['like'].notna().sum()

974

In [36]:
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)

134

In [37]:
#total matches from both
df['match'].notna().sum()

355

In [16]:
df['chats'].notna().sum()

253

In [28]:
df['we_met'].notna().sum()

6

In [42]:
df['block'].notna().sum()

2055

In [39]:
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("tithi-monthly-likes-sent.csv")

  like_month  count
0    2024-06     38
1    2024-07     48
2    2024-08      9
3    2024-09     19
4    2024-10     27
5    2024-11     40
6    2024-12     25
7    2025-01     15

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_11493/2101077841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

### Manav's data

In [40]:
with open('manav_matches.json', 'r') as file:
    data = json.load(file)

In [41]:
df = pd.DataFrame(data)
df

,we_met,match,voice_notes,chats,like,block
0,"[{'timestamp': '2024-06-15 04:08:10.109', 'did...",[{'timestamp': '2024-06-05 13:38:56'}],[{'url': 'http://media.hingenexus.com/video/au...,[{'body': 'Oh you are from dhanbad I had seen'...,"[{'timestamp': '2024-06-04 17:13:24', 'like': ...",NaN
1,"[{'timestamp': '2024-06-16 04:56:54.602', 'did...",[{'timestamp': '2024-06-05 07:54:28'}],NaN,"[{'body': 'We can hangout tomorrow though', 't...","[{'timestamp': '2024-06-03 13:50:44', 'like': ...",NaN
2,"[{'timestamp': '2024-06-30 11:45:51', 'did_mee...",[{'timestamp': '2024-06-18 15:58:43'}],NaN,"[{'body': 'I stay in Borivali', 'timestamp': '...","[{'timestamp': '2024-06-11 03:25:00', 'like': ...",NaN
3,"[{'timestamp': '2024-08-03 19:41:30', 'did_mee...",[{'timestamp': '2024-07-25 19:03:02'}],NaN,"[{'body': 'Western line is the Og', 'timestamp...","[{'timestamp': '2024-07-25 16:55:38', 'like': ...",NaN
4,"[{'timestamp': '2024-08-03 20:26:24', 'did_mee...",[{'timestamp': '2024-07-25 22:46:42'}],NaN,"[{'body': 'Lmao', 'timestamp': '2024-07-26 14:...","[{'timestamp': '2024-07-24 01:37:51', 'like': ...",NaN
...,...,...,...,...,...,...
2405,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:05', 'like': ...",NaN
2406,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:37', 'like': ...",NaN
2407,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:59', 'like': ...",NaN
2408,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-26 05:35:16', 'like': ...",NaN
2409,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-26 06:07:06', 'like': ...",NaN

In [42]:
#likes sent
df['like'].notna().sum()

2320

In [6]:
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)

68

In [7]:
#total matches from both
df['match'].notna().sum()

288

In [8]:
df['chats'].notna().sum()

234

In [9]:
df['we_met'].notna().sum()

8

In [10]:
df['block'].notna().sum()

64

In [43]:
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("manav-monthly-likes-sent.csv")

   like_month  count
0     2023-12     39
1     2024-01     12
2     2024-05     49
3     2024-06    148
4     2024-07    121
5     2024-08    167
6     2024-09     95
7     2024-10    125
8     2024-11     86
9     2024-12    178
10    2025-01     41
11    2025-02   1259

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_11493/1279492048.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_11493/1279492048.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')

### Tanvi's data

In [5]:
with open('tanvi_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,match,chats,block,like
0,[{'timestamp': '2024-05-29 01:15:15'}],"[{'body': 'Vodka and sodamn thirsty for you', ...",NaN,NaN
1,[{'timestamp': '2024-05-29 01:19:29'}],NaN,"[{'block_type': 'remove', 'timestamp': '2024-0...",NaN
2,[{'timestamp': '2024-05-29 01:21:37'}],NaN,NaN,NaN
3,[{'timestamp': '2024-05-29 04:03:31'}],[{'body': 'Your balls are safe with me donâ€™t w...,NaN,NaN
4,[{'timestamp': '2024-05-29 04:06:13'}],"[{'body': 'Hahah what if I said House ðŸ˜¤', 'tim...","[{'block_type': 'remove', 'timestamp': '2024-0...",NaN
...,...,...,...,...
939,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
940,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
941,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
942,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
943,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN

In [6]:
#likes sent
df['like'].notna().sum()

33

In [7]:
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)

61

In [8]:
#total matches from both
df['match'].notna().sum()

67

In [9]:
df['chats'].notna().sum()

38

In [11]:
#met: none

In [12]:
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("tanvi-monthly-likes-sent.csv")

  like_month  count
0    2024-05      1
1    2024-06     19
2    2024-07     11
3    2024-12      2

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_20838/86457031.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_20838/86457031.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')

### Simran's data

In [10]:
with open('simran_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,chats,match,like,we_met,block
0,"[{'body': 'Go out!! Have a few drinks', 'times...",[{'timestamp': '2024-02-09 18:38:04'}],NaN,NaN,NaN
1,"[{'body': 'Heyy', 'timestamp': '2024-02-10 03:...",[{'timestamp': '2024-02-09 18:39:40'}],NaN,NaN,NaN
2,"[{'body': 'How's it going for you?', 'timestam...",[{'timestamp': '2024-02-11 09:27:37'}],"[{'timestamp': '2024-02-11 09:10:26', 'like': ...",NaN,NaN
3,"[{'body': 'Noooooooo', 'timestamp': '2024-02-1...",[{'timestamp': '2024-02-11 11:32:25'}],NaN,NaN,NaN
4,"[{'body': 'Where do you stay?', 'timestamp': '...",[{'timestamp': '2024-02-11 16:19:11'}],"[{'timestamp': '2024-02-11 11:38:34', 'like': ...","[{'timestamp': '2024-02-21 10:55:07.077', 'did...",NaN
...,...,...,...,...,...
8922,NaN,NaN,"[{'timestamp': '2024-04-12 02:35:59', 'like': ...",NaN,NaN
8923,NaN,NaN,"[{'timestamp': '2024-04-13 19:19:57', 'like': ...",NaN,NaN
8924,NaN,NaN,"[{'timestamp': '2024-03-27 12:43:21', 'like': ...",NaN,NaN
8925,NaN,NaN,"[{'timestamp': '2024-04-17 04:53:58', 'like': ...",NaN,NaN
8926,NaN,NaN,"[{'timestamp': '2024-03-27 12:44:08', 'like': ...",NaN,NaN

In [13]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())
print(df['we_met'].notna().sum())

297
182
350
291
17

In [15]:
#Simran's monthly likes sent count
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("simran-monthly-likes-sent.csv")

   like_month  count
0     2024-02     42
1     2024-03     47
2     2024-04     58
3     2024-05     46
4     2024-06     27
5     2024-07     16
6     2024-08      4
7     2024-09     10
8     2024-10     19
9     2024-11     14
10    2024-12      4
11    2025-01      7
12    2025-02      3

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_51471/1502466675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

### Maria's data

In [18]:
with open('maria_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,voice_notes,chats,like,match,block,we_met
0,[{'url': 'https://media.hingenexus.com/video/a...,"[{'body': 'oh NICE ', 'timestamp': '2024-11-26...","[{'timestamp': '2024-11-26 00:48:56', 'like': ...",[{'timestamp': '2024-11-26 01:58:29'}],"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
1,NaN,"[{'body': 'im full ', 'timestamp': '2024-10-20...","[{'timestamp': '2024-10-19 04:18:10', 'like': ...",[{'timestamp': '2024-10-19 11:33:32'}],NaN,"[{'timestamp': '2024-11-07 00:28:45.967', 'did..."
2,NaN,"[{'body': 'yes i love movies ', 'timestamp': '...",NaN,[{'timestamp': '2024-11-03 04:18:32'}],"[{'block_type': 'remove', 'timestamp': '2024-1...","[{'timestamp': '2024-11-21 02:12:10.746', 'did..."
3,NaN,"[{'body': 'â˜ºï¸', 'timestamp': '2024-11-07 23:38...","[{'timestamp': '2024-11-06 02:49:04', 'like': ...",[{'timestamp': '2024-11-06 21:22:26'}],"[{'block_type': 'remove', 'timestamp': '2024-1...","[{'timestamp': '2024-11-21 13:08:50.863', 'did..."
4,NaN,"[{'body': 'that's so preciouuuussss', 'timesta...","[{'timestamp': '2024-11-09 03:08:58', 'like': ...",[{'timestamp': '2024-11-12 05:54:48'}],NaN,"[{'timestamp': '2024-11-28 16:47:36.658', 'did..."
...,...,...,...,...,...,...
1083,NaN,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
1084,NaN,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
1085,NaN,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
1086,NaN,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
1087,NaN,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN

In [19]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())
print(df['we_met'].notna().sum())

116
43
96
81
6

In [20]:
#Simran's monthly likes sent count
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("maria-monthly-likes-sent.csv")

  like_month  count
0    2024-10     30
1    2024-11     38
2    2024-12     24
3    2025-01      7
4    2025-02     17

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_51471/2052777058.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_51471/2052777058.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')

In [21]:
with open('shloka_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,match,chats,like,block,we_met,voice_notes
0,[{'timestamp': '2022-03-06 09:16:36.731'}],[{'body': 'I have that exact sunflower frame i...,"[{'timestamp': '2022-03-05 20:13:41', 'like': ...","[{'block_type': 'remove', 'timestamp': '2022-0...",NaN,NaN
1,[{'timestamp': '2022-03-06 10:08:21.984'}],"[{'body': 'Oh right you live in Pune :(', 'tim...","[{'timestamp': '2022-03-06 04:30:22', 'like': ...","[{'block_type': 'remove', 'timestamp': '2022-0...",NaN,NaN
2,[{'timestamp': '2022-03-06 14:28:32.278'}],NaN,NaN,NaN,NaN,NaN
3,[{'timestamp': '2022-03-07 00:52:33.697'}],[{'body': 'I've college everyday except Sunday...,"[{'timestamp': '2022-03-07 00:50:03', 'like': ...","[{'block_type': 'remove', 'timestamp': '2022-0...",NaN,NaN
4,[{'timestamp': '2022-03-07 04:20:12.467'}],[{'body': 'I'm not actively looking for a one ...,"[{'timestamp': '2022-03-07 04:05:36', 'like': ...","[{'block_type': 'remove', 'timestamp': '2022-0...",NaN,NaN
...,...,...,...,...,...,...
11612,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN,NaN
11613,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN,NaN
11614,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN,NaN
11615,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN,NaN
11616,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN,NaN

In [22]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())
print(df['we_met'].notna().sum())

568
458
709
554
10

In [24]:
#Simran's monthly likes sent count
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("shloka-monthly-likes-sent.csv")

   like_month  count
0     2022-03     45
1     2022-04      8
2     2022-05     11
3     2022-06      7
4     2022-07      9
5     2023-08     40
6     2023-09     21
7     2023-10      5
8     2023-12     13
9     2024-01      4
10    2024-02      7
11    2024-03      6
12    2024-04     22
13    2024-05     42
14    2024-06     41
15    2024-07     41
16    2024-08     39
17    2024-09     44
18    2024-10     13
19    2024-11     29
20    2024-12     67
21    2025-01     32
22    2025-02     22

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_51471/4000836276.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

### Tathagat's data

In [25]:
with open('tathagat_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,match,chats,like,block,voice_notes,we_met
0,[{'timestamp': '2022-12-09 08:48:16.879'}],"[{'body': 'Where do you live?', 'timestamp': '...","[{'timestamp': '2022-12-09 08:39:59', 'like': ...","[{'block_type': 'remove', 'timestamp': '2023-0...",NaN,NaN
1,[{'timestamp': '2022-12-11 17:17:40.991'}],"[{'body': 'Also, was just going through your p...","[{'timestamp': '2022-12-10 01:29:37', 'like': ...",NaN,NaN,NaN
2,[{'timestamp': '2022-12-12 06:15:01.233'}],"[{'body': 'Excuse my curiosity ðŸ˜…', 'timestamp'...","[{'timestamp': '2022-12-12 01:56:46', 'like': ...",NaN,NaN,NaN
3,[{'timestamp': '2022-12-18 21:36:36.925'}],[{'body': 'Why are you definitely getting into...,"[{'timestamp': '2022-12-17 06:31:04', 'like': ...",NaN,NaN,NaN
4,[{'timestamp': '2023-01-02 08:08:13.391'}],"[{'body': 'He founded your culinary club', 'ti...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1682,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN
1683,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN
1684,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2024-0...",NaN,NaN
1685,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN
1686,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2023-1...",NaN,NaN

In [26]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())
print(df['we_met'].notna().sum())

1670
9
53
47
1

In [27]:
#Simran's monthly likes sent count
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("tathagat-monthly-likes-sent.csv")

   like_month  count
0     2022-12    219
1     2023-01    197
2     2023-02    125
3     2023-03     34
4     2023-04     50
5     2023-05     11
6     2023-06      3
7     2023-07     91
8     2023-08     25
9     2023-09     64
10    2023-10     55
11    2023-11    148
12    2023-12    122
13    2024-01     43
14    2024-02     49
15    2024-03     53
16    2024-04     30
17    2024-05    135
18    2024-06     83
19    2024-07     41
20    2024-08     11
21    2024-09     19
22    2024-10     11
23    2024-11     22
24    2025-01     19
25    2025-02     10

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_51471/1043382927.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_51471/1043382927.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')

### Deep's data

In [9]:
with open('deep_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,chats,match,like,we_met,block
0,[{'body': 'I just want to know you are aware I...,[{'timestamp': '2023-12-21 10:59:18'}],NaN,NaN,NaN
1,"[{'body': 'Yay, so when are we going out?', 't...",[{'timestamp': '2023-12-27 04:18:50'}],"[{'timestamp': '2023-12-26 23:31:05', 'like': ...",NaN,NaN
2,[{'body': 'Anyway you did say I'd have to wait...,[{'timestamp': '2023-12-22 17:28:49'}],"[{'timestamp': '2023-12-22 15:01:39', 'like': ...",NaN,NaN
3,[{'body': 'Hi there! Would you like me to asto...,[{'timestamp': '2024-02-09 11:38:09'}],NaN,"[{'timestamp': '2024-03-05 01:19:54.114', 'did...",NaN
4,[{'body': 'I'm nothing if not a cinematic roma...,[{'timestamp': '2024-08-06 11:50:12'}],NaN,NaN,NaN
...,...,...,...,...,...
318,NaN,NaN,"[{'timestamp': '2025-02-23 16:21:17', 'like': ...",NaN,NaN
319,NaN,NaN,"[{'timestamp': '2025-02-23 16:21:53', 'like': ...",NaN,NaN
320,NaN,NaN,"[{'timestamp': '2025-02-23 16:22:11', 'like': ...",NaN,NaN
321,NaN,NaN,"[{'timestamp': '2025-02-24 16:19:08', 'like': ...",NaN,NaN
322,NaN,NaN,"[{'timestamp': '2025-02-24 16:20:43', 'like': ...",NaN,NaN

In [10]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())
print(df['we_met'].notna().sum())

306
12
36
34
3

In [11]:
#Deep's monthly likes sent count
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("deep-monthly-likes-sent.csv")

   like_month  count
0     2023-12     52
1     2024-01     15
2     2024-02      6
3     2024-03     14
4     2024-04      2
5     2024-05     21
6     2024-08     55
7     2024-09     23
8     2024-10     45
9     2024-11     13
10    2024-12     21
11    2025-01     33
12    2025-02      6

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_61910/3890765888.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_61910/3890765888.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')

### Sanjna's data

In [12]:
with open('sanjna_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,chats,match,like,we_met,voice_notes,block
0,[{'body': 'maybe under your tattoo sleeve then...,[{'timestamp': '2024-11-29 02:52:03'}],"[{'timestamp': '2024-11-29 02:31:02', 'like': ...",NaN,NaN,NaN
1,"[{'body': 'HA i love the confidence', 'timesta...",[{'timestamp': '2024-12-09 21:32:41'}],"[{'timestamp': '2024-12-09 03:59:02', 'like': ...","[{'timestamp': '2024-12-31 16:58:35.408', 'did...",NaN,NaN
2,"[{'body': 'why hamburg?', 'timestamp': '2024-1...",[{'timestamp': '2024-12-11 18:03:19'}],"[{'timestamp': '2024-12-11 15:53:33', 'like': ...","[{'timestamp': '2024-12-26 07:24:26.458', 'did...",NaN,NaN
3,"[{'body': 'damn why not', 'timestamp': '2024-1...",[{'timestamp': '2024-12-18 01:07:51'}],"[{'timestamp': '2024-12-18 00:46:04', 'like': ...",NaN,NaN,NaN
4,"[{'body': 'lmao arent we all', 'timestamp': '2...",[{'timestamp': '2024-12-15 23:09:57'}],"[{'timestamp': '2024-12-15 19:44:44', 'like': ...",NaN,NaN,NaN
...,...,...,...,...,...,...
108,NaN,NaN,"[{'timestamp': '2024-12-15 19:41:29', 'like': ...",NaN,NaN,NaN
109,NaN,NaN,"[{'timestamp': '2024-12-15 19:43:02', 'like': ...",NaN,NaN,NaN
110,NaN,NaN,"[{'timestamp': '2024-12-15 19:43:55', 'like': ...",NaN,NaN,NaN
111,NaN,NaN,"[{'timestamp': '2024-12-15 19:46:08', 'like': ...",NaN,NaN,NaN
112,NaN,NaN,"[{'timestamp': '2024-12-15 19:47:22', 'like': ...",NaN,NaN,NaN

In [13]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())
print(df['we_met'].notna().sum())

111
2
41
24
4

In [14]:
#Deep's monthly likes sent count
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("sanjna-monthly-likes-sent.csv")

  like_month  count
0    2024-11     16
1    2024-12     57
2    2025-01     21
3    2025-02     17

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_61910/4155500298.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_61910/4155500298.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')

In [15]:
with open('raj_matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,match,like,chats,block,voice_notes
0,[{'timestamp': '2024-10-31 02:30:37'}],"[{'timestamp': '2024-10-27 12:49:01', 'like': ...",[{'body': 'Ohh what heâ€™s doing in Navi Mumbai ...,"[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
1,[{'timestamp': '2024-11-06 15:40:30'}],"[{'timestamp': '2024-11-06 15:26:01', 'like': ...","[{'body': 'Near there ', 'timestamp': '2024-11...",NaN,NaN
2,[{'timestamp': '2024-11-18 11:56:29'}],"[{'timestamp': '2024-11-18 07:55:03', 'like': ...","[{'body': 'It will clear all your doubts ', 't...",NaN,NaN
3,[{'timestamp': '2024-12-04 07:41:05'}],"[{'timestamp': '2024-12-03 14:33:53', 'like': ...","[{'body': 'Letâ€™s talk about something else ', ...",NaN,NaN
4,[{'timestamp': '2024-12-12 16:05:51'}],"[{'timestamp': '2024-12-12 16:04:41', 'like': ...","[{'body': 'Hey ', 'timestamp': '2024-12-13 08:...","[{'block_type': 'remove', 'timestamp': '2024-1...",NaN
...,...,...,...,...,...
558,NaN,"[{'timestamp': '2025-02-28 18:47:02', 'like': ...",NaN,NaN,NaN
559,NaN,"[{'timestamp': '2025-03-01 16:26:37', 'like': ...",NaN,NaN,NaN
560,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
561,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN
562,NaN,NaN,NaN,"[{'block_type': 'remove', 'timestamp': '2025-0...",NaN

In [17]:
print((df['like'].notna().sum()))
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)
print(df['match'].notna().sum())
print(df['chats'].notna().sum())

553
7
52
52