In [37]:
import pandas as pd
import json

# Load JSON file
with open('matches.json', 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

df

,like,chats,block,match,voice_notes,we_met
0,"[{'timestamp': '2025-01-18 18:24:57', 'like': ...",NaN,NaN,NaN,NaN,NaN
1,"[{'timestamp': '2025-01-01 17:40:36', 'like': ...",NaN,NaN,NaN,NaN,NaN
2,"[{'timestamp': '2025-01-18 18:25:32', 'like': ...",NaN,NaN,NaN,NaN,NaN
3,"[{'timestamp': '2024-12-16 03:27:24', 'like': ...",NaN,NaN,NaN,NaN,NaN
4,"[{'timestamp': '2025-01-18 18:26:17', 'like': ...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2835,NaN,NaN,NaN,[{'timestamp': '2024-09-03 06:59:16'}],NaN,NaN
2836,NaN,NaN,NaN,[{'timestamp': '2024-09-29 06:02:29'}],NaN,NaN
2837,NaN,NaN,NaN,[{'timestamp': '2024-12-09 05:03:08'}],NaN,NaN
2838,NaN,NaN,NaN,[{'timestamp': '2024-12-31 13:21:26'}],NaN,NaN
2839,NaN,NaN,NaN,[{'timestamp': '2025-01-06 10:22:54'}],NaN,NaN

In [34]:
#calculating likes sent
df['like'].notna().sum()

974

In [36]:
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)

134

In [37]:
#total matches from both
df['match'].notna().sum()

355

In [16]:
df['chats'].notna().sum()

253

In [28]:
df['we_met'].notna().sum()

6

In [42]:
df['block'].notna().sum()

2055

In [39]:
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("tithi-monthly-likes-sent.csv")

  like_month  count
0    2024-06     38
1    2024-07     48
2    2024-08      9
3    2024-09     19
4    2024-10     27
5    2024-11     40
6    2024-12     25
7    2025-01     15

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_11493/2101077841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

### Manav's data

In [40]:
with open('manav_matches.json', 'r') as file:
    data = json.load(file)

In [41]:
df = pd.DataFrame(data)
df

,we_met,match,voice_notes,chats,like,block
0,"[{'timestamp': '2024-06-15 04:08:10.109', 'did...",[{'timestamp': '2024-06-05 13:38:56'}],[{'url': 'http://media.hingenexus.com/video/au...,[{'body': 'Oh you are from dhanbad I had seen'...,"[{'timestamp': '2024-06-04 17:13:24', 'like': ...",NaN
1,"[{'timestamp': '2024-06-16 04:56:54.602', 'did...",[{'timestamp': '2024-06-05 07:54:28'}],NaN,"[{'body': 'We can hangout tomorrow though', 't...","[{'timestamp': '2024-06-03 13:50:44', 'like': ...",NaN
2,"[{'timestamp': '2024-06-30 11:45:51', 'did_mee...",[{'timestamp': '2024-06-18 15:58:43'}],NaN,"[{'body': 'I stay in Borivali', 'timestamp': '...","[{'timestamp': '2024-06-11 03:25:00', 'like': ...",NaN
3,"[{'timestamp': '2024-08-03 19:41:30', 'did_mee...",[{'timestamp': '2024-07-25 19:03:02'}],NaN,"[{'body': 'Western line is the Og', 'timestamp...","[{'timestamp': '2024-07-25 16:55:38', 'like': ...",NaN
4,"[{'timestamp': '2024-08-03 20:26:24', 'did_mee...",[{'timestamp': '2024-07-25 22:46:42'}],NaN,"[{'body': 'Lmao', 'timestamp': '2024-07-26 14:...","[{'timestamp': '2024-07-24 01:37:51', 'like': ...",NaN
...,...,...,...,...,...,...
2405,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:05', 'like': ...",NaN
2406,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:37', 'like': ...",NaN
2407,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-25 08:29:59', 'like': ...",NaN
2408,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-26 05:35:16', 'like': ...",NaN
2409,NaN,NaN,NaN,NaN,"[{'timestamp': '2025-02-26 06:07:06', 'like': ...",NaN

In [42]:
#likes sent
df['like'].notna().sum()

2320

In [6]:
#calculating likes_received
likes_received = df[
    df.filter(regex='match').notna().any(axis=1) & 
    df.filter(regex='like').isna().all(axis=1)
].shape[0]

print(likes_received)

68

In [7]:
#total matches from both
df['match'].notna().sum()

288

In [8]:
df['chats'].notna().sum()

234

In [9]:
df['we_met'].notna().sum()

8

In [10]:
df['block'].notna().sum()

64

In [43]:
#Extracting time from the likes sent
df['like_time'] = df['like'].apply(lambda x: pd.to_datetime(x[0]['timestamp']) if isinstance(x, list) and len(x) > 0 else None)

#Filtering to all non-na values
df = df[df['like_time'].notna()]

#Extracting date from full timestamp including hour
df['like_date'] = df['like_time'].dt.date

#Extracting month from date
df['like_month'] = df['like_time'].dt.to_period('M')

#Grouping by month
monthly_counts = df.groupby('like_month').size().reset_index(name='count')


print(monthly_counts)
monthly_counts.to_csv("manav-monthly-likes-sent.csv")

   like_month  count
0     2023-12     39
1     2024-01     12
2     2024-05     49
3     2024-06    148
4     2024-07    121
5     2024-08    167
6     2024-09     95
7     2024-10    125
8     2024-11     86
9     2024-12    178
10    2025-01     41
11    2025-02   1259

/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_11493/1279492048.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_date'] = df['like_time'].dt.date
/var/folders/3t/356b2m1s0713vmrmjlw72vfm0000gn/T/ipykernel_11493/1279492048.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['like_month'] = df['like_time'].dt.to_period('M')